<!DOCTYPE html>
<html>

    <head>
      <link rel="stylesheet" href="style.css"/>
      <title>
          Brantu 
      </title>  
    </head>

    <body>
      <div class="grid-container">
        <header class="header">
          Brantu
        </header>  
        
        <main class="main">
          <div class="content">
            <ul class="products">
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
              <li>
                <div class="product">
                  <img class="product-image" src="images/d1.jpg" alt="product"/>
                   <div class="product-name">
                     <a href="product.html">Iphone Cover </a> 
                     </div>
                    <div class="product-brand"> Nike</div>
                    <div class="product-price"> $60</div>
                </div>
              </li>
  
            </ul>
          </div>
        </main>

        <footer class="footer">
              All rights deserved.
        </footer>
        
      </div>
    </body>
</html>