html{
  font-size:62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;  
}

#root{
  height: 100%;
}

.grid-container{
  display:grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color:black;
  color:white;
  display: flex;
  font-size: 50px;
  font-weight:  bold;
  align-items: center;
  justify-content: center;
  
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color:black;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

a:hover{
  color:indigo;
}

.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.products li{
  list-style: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem grey; 
}

.product-name{
  font-size: 2rem;
  font-weight: bold;
}

.product-brand{
  font-size: 1.2rem;
  color: grey;
}

.product-price{
  font-size: 2rem;
  font-weight: bold;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;

}

/* Product Details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


.details-image{
  flex: 2 1 60rem;
  margin-top: 2rem;
}

.details-image img{
  max-width: 60rem;
  widows: 100%;
}
.details-info{
  flex: 4 1 30rem;
  margin-top: 6rem;
}

.details-info ul{
  list-style-type: none;
  padding: 0;
}

.details-info li{
  margin-bottom: 4rem;
}

.back-to-home{
  padding: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 2rem;
  font-size: medium;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.button {
  padding: 1rem;
  color: white;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color:black;
}